<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<footer id="footer">
		<div class="container">
			<div class="copyright" style="text-align: center;">
				&copy;Copyright <strong><span>@Go Grab</span></strong>. All Rights Reserved
			</div>
			<div class="credits">
				<p></p>
			</div>
		</div>
		
	</footer>
</body>
</html>